.container{
	width: 50%;
  	height:50%;
	margin: 5% auto 5% auto;
	background-color: #f2eeca;
	border-radius: 3%;
}
.text {
	color:rgb(236, 120, 26);
	font-size:  1.5rem;
	font-style: italic;
	padding-left: 3%;
	display: flex;
	justify-content: space-between;
	border: solid 1px rgba(155,155,155,0.3);
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.close {
	
	height: 4%;
	width: 4%;
	margin-right: 3%;
	padding-top: 0.5%;
	color: grey;
  }
.container:hover .text{
	color:#6956e4;
	/*background-color:rgb(191, 212, 224);
	box-shadow: 
	0px 0px 0px 1px rgba(155,155,155,0.3), 
	1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
	0px 2px 2px rgba(0,0,0,0.1);*/
}



/*.container:hover input:hover ~ div .close {
	visibility: visible;
	
}*/
.container:hover input:not(:hover) ~ div .close {
	transform: rotate(-45deg);
	 
}
.container:hover input:checked ~ div .close {
	transform: rotate(0deg);
}
.container:not(:hover)  .close {
	 
	visibility: hidden;

	 
}



.container input{
display: none;

}

h1 {
  color:rgb(117, 95, 243);
  size: 1rem;
  text-align: center;
  font-style: italic;
}



.container label{
	font-family:  'Arial Narrow', Arial, sans-serif;
	padding-top: 1%;
  	padding-bottom: 1%;
 
	position: relative;
	z-index: 20;
	display: block;
	height: 10%;
	cursor: pointer;
	color: rgb(207, 100, 24);
	line-height: 33px;
	font-size: 19px;
	background: linear-gradient(top, #aadbee 1%, rgba(122, 196, 230, 0.314)0%, #02557b 100%);
	
    border-left: none;
}

.container label:hover{
	
	color:rgb(232, 125, 24)
}


.container input:checked  {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
		
}

.container article{
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.3s linear;
    border-radius: 10px;
}
.container input:checked ~ article{
	transition: 
		height 0.3s ease-in-out, 
		box-shadow 0.1s linear;
	
	height: 25%;
}

.container input:hover ~ article{
	transition: 
		height 0.3s linear, 
		box-shadow 0.1s linear;
	
	height: 25%;
	
}
.step0:active  .text {
	color:rgb(232, 125, 24);
}

article:hover{
	height: 25%;
}

.step {
display: flex;
}

.step img {
	
	width: 35%;

  margin: 0 auto;
}

