body{
	background-color: #C6786C;
}
.container{
	width: 60%;
  	height: 60%;
	margin: 5% auto 5% auto;
	background-color: #EBDCC2;
	border-radius: 3%;
}
.text {
	color:#BE7482;
	font-size:  1.5rem;
	font-style: italic;
	padding-left: 3%;
	display: flex;
	justify-content: space-between;
	border-top: solid 0.1rem #AEB4A9;
}
.close {
	height: 4%;
	width: 4%;
	margin-right: 3%;
	padding-top: 0.5%;
	color: grey;
  }
.container:hover .text{
	color:#6956e4;
}
.container:hover input:not(:hover) ~ div .close {
	transform: rotate(-45deg);
	 
}
.container:hover input:checked ~ div .close {
	transform: rotate(0deg);
}
.container:not(:hover)  .close {
	 
	visibility: hidden;
 
}


.container input{
display: none;

}

h1 {
  color:#846267;
  size: 1rem;
  text-align: center;
  font-style: italic;
}



.container label{
	font-family:  'Arial Narrow', Arial, sans-serif;
	padding-top: 1%;
  	padding-bottom: 1%;
 	display: block;
	height: 10%;
	cursor: pointer;
	color: rgb(207, 100, 24);

    
}

.container label:hover{
	
	color:rgb(232, 125, 24)
}


.container article{
	visibility: hidden;
	overflow: hidden;
	height: 0;
	transition: 
	all 0.5s ease-in-out;
    border-radius: 1%;
}
.container input:checked ~ article{
	visibility: visible;
	transition: 
	all 0.5s ease-in-out;
	
	height: 20em;
}

.container input:hover ~ article{
	visibility: visible;
	transition: 
		all 0.5s ease-in-out;
	
	height: 20rem;
	
}
.step0:active  .text {
	color:rgb(232, 125, 24);
}

article:hover{
	height: 20em;
	transition: 
	all 0.5s ease-in-out;
}
 
.step {
display: flex;
}

.step img {
	
	width: 19em;
	transition: 
	height 0.5s ease-in-out;
  margin: 0 auto;
}

